@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

:root {
    --primary-color: rgb(0, 89, 255);
    --secondary-color: rgb(255, 46, 109);
    --text-dark: rgb(20, 20, 20);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(247, 247, 247);
    height: 100vh;
}

main:not(.home) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.container {
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    min-width: 450px;
}

.r_form {
    padding: 20px;
    background-color: white;
}

form h2 {
    display: block;
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 2rem;
}

form > p {
    font-size: 0.85rem;
    padding: 10px 0px;
}

.form_fields {
    margin-top: 15px;
}

label {
    font-size: 0.85rem;
}

input.textfield, textarea.textfield {
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    padding: 10px 15px;
    flex: 1;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

a {
    font-size: 0.85rem;
}

.btn_submit {
    padding: 10px 20px;
    margin-top: 10px;
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    border-radius: 20px;
    outline: none;
    border: none;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
    height: fit-content;
    cursor: pointer;
    width: fit-content;
}

form p:last-child {
    text-align: center;
}

.errorMessage {
    font-size: 0.8rem;
    color: red;
}

.navbar {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.3);
    background: white;
}

.navbar a {
    text-decoration: none;
}

.navbar > a {
    font-size: 1rem;
    text-decoration: underline;
    color: var(--primary-color);
}

.navbar ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    font-size: 0.8rem;
    text-decoration: underline;
    color: var(--primary-color);
}

.home {
    height: 100%;
    width: 100%;
}

form.container {
    min-width: 80%;
    border-radius: 0px;
}

td .date input {
    width: 30px;
}

.btn_save input {
    display: inline-block;
}

.box {
    padding: 20px;
}

.text_input {
    display: flex;
    gap: 20px;
    align-items: center;
    width: calc(50% - 20px);
}

form .text_input_full {
    width: 100%;
    background: red;
}

.text_input label {
    flex: 0.4;
}

.box form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.service_type {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.trips {
    width: 100%;
}

.auth_field label {
    flex: 0.3;
}

.auth_field {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.auth_field .textfield {
    width: 100%;
}