.home {
    padding: 20px;
    position: relative;
}

.form_details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: white;
    padding: 20px;
}

.detail_entry {
    width: calc(33.3% - 10px);
}

.detail_entry_2 {
    width: calc(66.6% - 10px);
}

.detail_entry_full {
    width: 100%;
}

.detail_last_section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.detail_btns {
    display: flex;
    gap: 20px;
}

.list {
    height: fit-content;
    padding: 15px;
}

.btn_compact {
    padding: 5px 10px;
    margin-top: 0px;
}

.list_first_section {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
}

.list_main_section {

}

.list_table {
    width: 100%;
    border: 0;
    margin-top: 10px;
}

th p {
    font-size: 0.9rem;
    font-weight: normal;
}

.list_header {
    background: linear-gradient(var(--primary-color), white);
}

.list_entry {
    background: rgba(0, 89, 255, 0.3);
    padding: 10px 0;
}

.list_entry td {
    font-size: 0.8rem;
    font-weight: normal;
}

.list_desc {
    font-size: 0.8rem;
    font-weight: normal;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 100;
    display: none;
}

.show {
    display: block;
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

.anchor {
    color: #2e93e6;
    font-size: 0.7rem;
    text-decoration: underline;
    cursor: pointer;
}

.btn_action {
    padding: 10px 20px;
    margin-top: 10px;
    display: inline-block;
    background-color: transparent;
    border-radius: 35px;
    outline: none;
    border: none;
    height: fit-content;
    cursor: pointer;
    width: fit-content;
}

#btn_pdf {
    color: #181818;
    border: 2px solid #cb0000;
}

#btn_excel {
    color: #181818;
    border: 2px solid green;
}

