.home {
    padding: 20px;
}

.form_details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: white;
    padding: 20px;
}

.detail_entry {
    width: calc(33.3% - 10px);
}

.detail_entry_2 {
    width: calc(66.6% - 10px);
}

.detail_entry_full {
    width: 100%;
}

.detail_last_section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.detail_btns {
    display: flex;
    gap: 20px;
}

.list {
    height: fit-content;
    padding: 15px;
}

.btn_compact {
    padding: 5px 10px;
    margin-top: 0px;
}

.list_first_section {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
}

.list_main_section {

}

.list_table {
    width: 100%;
    border: 0;
    margin-top: 10px;
}

th p {
    font-size: 0.9rem;
    font-weight: normal;
}

.list_header {
    background: linear-gradient(var(--primary-color), white);
}

.list_entry {
    background: #81ffff;
}

.list_entry td {
    font-size: 0.8rem;
    font-weight: normal;
}

.list_desc {
    font-size: 0.8rem;
    font-weight: normal;
}