.r_form {
    background-color: white;
}

.first_section {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.compact_row:first-child, .compact_row:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 25px 10px 15px;
    border: 1px solid gray;
    position: relative;
}

.compact_row:not(.date_row) label:first-child {
    display: inline;
    position: absolute;
    top: 5px;
    left: 10px;
}

.date_row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.second_section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.fourth_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.fourth_section .btn_submit {
    display: inline-block;
    width: fit-content;
}

.trip_items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.trip_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 89, 255, 0.43);
    padding: 10px 15px;
}

.trip_item p {
    font-size: 14px;
}

.trip_item p span {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
}